# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv_bot/
*.env
.env

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/

# Database
*.sqlite3
*.db

# Docker
.dockerignore

# Google Drive specific files (VERY IMPORTANT!)
config/.env
config/token.json
config/credentials.json

# Any other temporary files
*.tmp
*.swp


